.AdminContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 100%;
    border: 1px #3A444C solid;
    width: 100%;
    position: relative;
}

.userTable,
.postManagement,
.analytics {
    margin-top: 20px;
    background-color: #1C2733;
    border-radius: 8px;
}

.userTable h2,
.postManagement h2,
.analytics h2 {
    padding: 15px;
    color: #FFFFFF;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #3A444C;
    color: #FFFFFF;
}

th {
    background-color: #283340;
    font-weight: bold;
}

tr:hover {
    background-color: #1A1A1A;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #1DA1F2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}

.dropbtn:hover {
    background-color: #1A91DA;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #283340;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    border-radius: 5px;
    top: 100%;  /* Positions the dropdown below the button */
    left: 0;    /* Aligns the dropdown with the button */
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1DA1F2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.analytics-stats {
    padding: 15px;
    color: #FFFFFF;
}
.analytics-stats {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    color: #FFFFFF;
}

.analytics-stats div {
    text-align: center;
}

.analytics-stats h3 {
    font-size: 2rem; /* Adjust size as needed */
    margin: 0;
}
.chart {
    padding: 20px;
    background-color: #222;
    margin-top: 20px;
    border-radius: 8px;
}

.analytics-stats div {
    text-align: center;
    margin-bottom: 15px;
}
